.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background:rgba(2, 5, 161, 0.91);
}
.app-header p{
    color: #fff;
}

.toggle{
    float: left
}


.btn-menu{
background: rgba(2, 5, 161, 0.91);
color:whitesmoke;
}

#writing {
    margin-top: 20px;
}

.register-wrapper {
    height: 800px;
    margin-top: 64px;
    background: -webkit-linear-gradient(left, rgba(2, 5, 161, 0.91), #3931af);
    padding: 3%;
    background-image: url("../../../assets/tutionbg3.jpg");
    
}

.register-wrapper:before {
    content: "";
    background: -webkit-linear-gradient(left, rgba(2, 5, 161, 0.91), #3931af);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 920px;
  }
   

#register-section{
    height: 600px;
}

.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}

.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

h1{
    text-align: center;
    margin-bottom: 40px;
    margin-top:50px;
    
}

.register-container{
    margin-left: 40px;
}

.full-width{
    width: 100%;
}

.animated{
    margin-top: 100px;
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}

#button{
    height: 50px;
    background: #1acc8d;
    color:white;
}

#button:hover{
    background: white;
    color:rgba(2, 5, 161, 0.91);
}

p{
    font-size: 20px;
}

.register-container .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: rgba(2, 5, 161, 0.91);
    color:white;
    font-size: 17px;
    text-align: center;
}

.register-container .mat-stroked-button:hover {
    background: white;
    color:rgba(2, 5, 161, 0.91);
}