<div class = "container-fluid">
    <div class = "row">
      <mat-toolbar color="primary" class="app-header">
          <div class="logo-image" routerLink=""> </div>
          <div id="writing">
            <p routerLink="/landingpage" routerLinkActive="active"><strong> Learn Today For Tomorrow </strong></p>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="navMenu" fxShow="true" fxHide.gt-sm class="togle">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="nav-tool-items" fxShow="true" fxHide.lt-md>
            <a id = "login" mat-raised-button routerLink="/login" routerLinkActive="active">Login</a>
            <a id="register" mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
            <mat-menu #navMenu="matMenu">
              <mat-divider></mat-divider>
              <a class="btn-menu" mat-menu-item  routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
              <mat-divider></mat-divider>
              <a class="btn-menu" mat-menu-item routerLink="/register" routerLinkActive="active"><strong>Register</strong></a>
              <mat-divider></mat-divider>
            </mat-menu>
          </span>
      </mat-toolbar>
    </div>
</div>

<section id="register-section">
    <div class="register-wrapper" fxLayout="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 register-left">
                    <img src="../../../assets/rocket.png" class="img-fluid animated" alt=""/>
                    <h1><strong>Welcome</strong></h1>
                    <p><strong> You are five minutes away from becoming a part of a great team!</strong></p>
                    <input type="submit" routerLink="/landingpage" routerLinkActive="active" id="button" value="Go to Home" /><br/>
                </div>
                <div class="col-lg-8 register-right pb-3" >
                    <div class="welcome-form">
                        <h1><strong>Be a Part of Talented Pool</strong></h1>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="register-container">
                                    <form class="register-form" [formGroup]="registerForm">
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Full Name</mat-label>
                                        <input type="text" matInput placeholder="Full Name" name="fullname" [(ngModel)]="fullname" formControlName="fullname" required>
                                        <mat-error *ngIf="registerForm.get('fullname').hasError('required')">Enter the Full name</mat-error> 
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Password</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" formControlName="password" required>
                                        <mat-error *ngIf="registerForm.get('password').hasError('required')">Please enter the password</mat-error> 
                                        <mat-error *ngIf="registerForm.get('password').hasError('minLength')">Password must be atleast 8 characters long</mat-error>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmPassword" formControlName="confirmPassword" required>
                                        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">Please enter the password</mat-error> 
                                        <mat-error *ngIf="registerForm.get('confirmPassword').hasError('minLength(8)')">Password must be atleast 8 characters long</mat-error>
                                        <mat-error *ngIf="registerForm.controls['confirmPassword'].pristine || registerForm.controls['confirmPassword'].errors?.MatchPassword">Password does not match</mat-error>
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Date of Birth</mat-label>
                                        <input matInput [matDatepicker]="picker" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="register-container">
                                    <form class="register-form" [formGroup]="registerForm">
                                    <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Email</mat-label>
                                    <input type="text" matInput placeholder="Email" name="username" [(ngModel)]="emailId" formControlName="emailId" required>
                                    <mat-error *ngIf="registerForm.get('emailId').hasError('required')">Enter the email</mat-error> 
                                    <mat-error *ngIf="registerForm.get('emailId').hasError('email')">Enter the correct format</mat-error>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Education</mat-label>
                                        <input type="text" matInput placeholder="Education" name="eduation" [(ngModel)]="education" formControlName="education" required>
                                        <mat-error *ngIf="registerForm.get('education').hasError('required')">Enter the the educational qualifications</mat-error>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Profession</mat-label>
                                        <input type="text" matInput placeholder="Profession" name="occupation" [(ngModel)]="occupation" formControlName="occupation" required>
                                        <mat-error *ngIf="registerForm.get('occupation').hasError('required')">Enter the your current profession</mat-error>
                                    </mat-form-field>
                                    <br><br>
                                    <mat-form-field appearance="fill" class="full-width">
                                        <mat-label>Proficiencies</mat-label>
                                        <input type="text" matInput placeholder="Proficiencies" name="subjects" [(ngModel)]="subjects" formControlName="subjects" required>
                                        <mat-error *ngIf="registerForm.get('subjects').hasError('required')">Enter your proficiencies</mat-error>
                                    </mat-form-field>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="register-container">
                            <form class="register-form" [formGroup]="registerForm">
                                <button mat-stroked-button (click)=registerTutor() color="primary" class="btn-block submit-button" [disabled]="registerForm.invalid"><strong>Register</strong></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
