
  <div *ngIf="isLoading | async" class="overlay">
    <div class="loading-spinner">
      <img src="../../../assets/loader.svg">
      <span class="loading-message"><strong>Please wait...</strong></span>
    </div>
  </div>

 

  