<div class = "container-fluid">
    <div class = "row">
      <mat-toolbar color="primary" class="app-header">
          <div class="logo-image" routerLink=""> </div>
          <div id="writing">
            <p routerLink="/landingpage" routerLinkActive="active"><strong> Learn Today For Tomorrow </strong></p>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="navMenu" fxShow="true" fxHide.gt-sm class="togle">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="nav-tool-items" fxShow="true" fxHide.lt-md>
            <a id = "login" mat-raised-button routerLink="/login" routerLinkActive="active">Login</a>
            <a id="register" mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
            <mat-menu #navMenu="matMenu">
              <mat-divider></mat-divider>
              <a class="btn-menu" mat-menu-item  routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
              <mat-divider></mat-divider>
              <a class="btn-menu" mat-menu-item routerLink="/register" routerLinkActive="active"><strong>Register</strong></a>
              <mat-divider></mat-divider>
            </mat-menu>
          </span>
      </mat-toolbar>
    </div>
  </div>


  <!-- Start of register div -->

<section id ="register">
    <div class="register-wrapper" fxLayout="row" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 order-1 d-flex align-items-center" data-aos="fade-right" data-aos-delay="400">
                    <img src="../../../assets/welcome.svg"  class="img-fluid animated" alt="">
                </div> 
                <div class="col-lg-4 order-2  d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <mat-card class="box" >
                        <mat-card-header>
                            <mat-card-title id="head"><strong>Sign Up to HomeTutor</strong></mat-card-title>
                            <img src="../../../assets/stepper.svg"  id="welcomeImg" alt="">
                        </mat-card-header>
                        <form class="example-form" [formGroup]="registerForm">
                        <button mat-stroked-button  routerLink="/registerStudent" routerLinkActive="active" color="primary" class="btn-block submit-button" ><strong>Sign Up to Study</strong></button>
                        <button mat-stroked-button  routerLink="/registerTutor" routerLinkActive="active" color="primary" class="btn-block submit-button" ><strong>Sign Up to Teach</strong></button>

                        <div id="alreadyUserHyper">
                            <p>Already a User?
                                <a [routerLink]="['/login']" routerLinkActive="router-link-active">
                                    Login Now.
                                </a>
                            </p>
                        </div>

                    </form>
                    </mat-card>              
                </div>
            </div>
        </div>
    </div>
</section>







