.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background:#1acc8d;
    /* flex-wrap:wrap; */
}
.app-header p{
    color: #fff;
}

.toggle{
    float: left
}
  
  
.btn-menu{
background: #1acc8d;
color:whitesmoke;
}

#writing {
    margin-top: 20px;
}
.register-wrapper {
    height: 100%;
    margin-top: 150px;
    margin-bottom: 50px;   
}

#welcomeImg{
    height: 120px;
    width: 120px;
    margin-top: 50px;
    
}


.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border-style: solid;
    border-color:#1acc8d ;
    border-width: 0px 0px 0px 20px;
    max-width: auto;
    /* margin-left: 200px; */
    margin-top: 0px;
    /* height: 715px; */
}

#register .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    /* margin-top: 200px; */
    /* margin-left: 100px; */
    margin: 0 auto;
    vertical-align:middle;
    max-width: auto;
    animation: mover 1s infinite alternate;

}

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}



.register-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
    margin-top: 100px;
}

.register-wrapper .example-full-width,
.register-wrapper .btn-block {
    width: 100%;
}

.register-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.register-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0px;
}

.register-wrapper .mat-card {
    padding: 40px 70px 50px;
}

.register-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #1acc8d;
    color:white;
    font-size: 17px;
    margin-bottom: 50px;
    
}

.register-wrapper .mat-stroked-button:hover {
    background: white;
    color:#1acc8d;
}

.register-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
} 

#alreadyUserHyper {
    /* margin-left: 100px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

#head{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}