<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="app-header">
            <div class="logo-image" routerLink=""> </div>
            <div id="writing">
                <p routerLink="/landingpage" routerLinkActive="active"><strong> Learn Today For Tomorrow </strong></p>
            </div>
      <span class="nav-tool-items">
          <a id = "login" mat-raised-button routerLink="/login" routerLinkActive="active">Sign In</a>
          <a id="register" mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
      </span>
        </mat-toolbar>
    </div>
  </div>
