
.app-header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background: rgba(2, 5, 161, 0.91);
}
.app-header p{
    color: #fff;
}

.toggle{
    float: left
}
  
  
.btn-menu{
background: rgba(2, 5, 161, 0.91);
color:whitesmoke;
}

.login-wrapper {
    height: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
}

#loginImg{
    height: 120px;
    width: 120px;
    margin-top: 50px;
}


.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border-style: solid;
    border-color:rgba(2, 5, 161, 0.91) ;
    border-width: 0px 0px 0px 20px;
    max-width: auto;
    /* margin-left: 100px; */
    margin-top: 0px;
}

#login .animatedlogin {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    /* margin-top: 50px; */
    /* margin-left: 100px; */
    margin: 0 auto;
    vertical-align:middle;
    max-width: auto;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}


@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


.login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
    margin-top: 50px;
}

.login-wrapper .example-full-width,
.login-wrapper .btn-block {
    width: 100%;
}

.login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0px;
}

/* .login-wrapper .mat-card {
    padding: 40px 70px 50px;
    margin-right:280px;
} */

.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: rgba(2, 5, 161, 0.91);
    color:white;
    font-size: 17px;
    margin-top: 100px;
    
}

.login-wrapper .mat-stroked-button:hover {
    background: white;
    color:rgba(2, 5, 161, 0.91);
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
} 

#writing {
    margin-top: 20px;
}

#newUserHyper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
