<div class = "container-fluid">
    <div class = "row">
      <mat-toolbar color="primary" class="app-header">
          <div class="logo-image" routerLink=""> </div>
          <div id="writing">
            <p routerLink="/landingpage" routerLinkActive="active"><strong> Learn Today For Tomorrow </strong></p>
          </div>
          <button mat-icon-button [matMenuTriggerFor]="navMenu" fxShow="true" fxHide.gt-sm class="togle">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="nav-tool-items" fxShow="true" fxHide.lt-md>
            <a id = "login" mat-raised-button routerLink="/login" routerLinkActive="active">Login</a>
            <a id="register" mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
            <mat-menu #navMenu="matMenu">
              <mat-divider></mat-divider>
              <a class="btn-menu" mat-menu-item  routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
              <mat-divider></mat-divider>
              <a class="btn-menu" mat-menu-item routerLink="/register" routerLinkActive="active"><strong>Register</strong></a>
              <mat-divider></mat-divider>
            </mat-menu>
          </span>
      </mat-toolbar>
    </div>
  </div>

    <!-- Start of login div -->

<section id ="login">
    <div class="login-wrapper" fxLayout="row" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 order-1 d-flex align-items-center" data-aos="fade-right" data-aos-delay="400" >
                    <img src="../../../assets/login.svg"  class="img-fluid animatedlogin" alt="">
                </div> 
                <div class="col-lg-4 order-2  d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
                    <mat-card class="box">
                        <mat-card-header>
                            <mat-card-title><strong>Login to HomeTutor</strong></mat-card-title>
                            <img src="../../../assets/stepper.svg"  class="img-fluid animated" id="loginImg" alt="">
                        </mat-card-header>
                        <form class="example-form" [formGroup]="loginForm">
                        
                        <mat-card-content>
                            <mat-form-field class="example-full-width">
                                
                                <input type="text" matInput placeholder="Email" name="username" [(ngModel)]="emailId" formControlName="emailId" required>
                                <mat-error *ngIf="loginForm.get('emailId').hasError('required')">Enter the email</mat-error> 
                                <mat-error *ngIf="loginForm.get('emailId').hasError('email')">Enter the correct format</mat-error>
                            </mat-form-field> 
                            <br><br>
                            <mat-form-field class="example-full-width">
                                <input matInput [type]="hide ? 'password' : 'text'" matInput placeholder="Password" name="password" [(ngModel)]="password" formControlName="password" required>
                                <mat-error *ngIf="loginForm.get('password').hasError('required')">Please enter the password</mat-error> 
                                <mat-error *ngIf="loginForm.get('password').hasError('minLength')">Password must be atleast 8 characters long</mat-error>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>

                        </mat-card-content> 
                        <button mat-stroked-button (click)=checkStudentLogin() color="primary" class="btn-block submit-button" [disabled]="loginForm.invalid"><strong>Sign In as Student</strong></button>
                        <button mat-stroked-button (click)=checkTutor() routerLink="/dashboard2" routerLinkActive="active" color="primary" class="btn-block submit-button" [disabled]="loginForm.invalid"><strong>Sign In as Tutor</strong></button>

                        <div id="newUserHyper">
                            <p>New User?
                                <a [routerLink]="['/register']" routerLinkActive="router-link-active">
                                    Join Now.
                                </a>
                            </p>
                            <p>
                                <a [routerLink]="['']" routerLinkActive="router-link-active">Forgot Password?</a>
                            </p>

                        </div>

                    </form>
                    </mat-card>              
                </div>
            </div>
        </div>
    </div>
</section>






