.app-header{
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background: rgba(2, 5, 161, 0.91);

}

#writing {
    margin-top: 20px;
}

#dashboard{
    padding: 60px 0 0 0;
   
}

.jumbotron{
    background: rgba(2, 5, 161, 0.91);
    /* width: 100%; */
   
}

hr{
    background: #fff;
    height: 0.2px;
}
#dashboard h1{
    color: #fff
}

#dashboard h1 span{
    color: #fff;
    border-bottom: 4px solid #1acc8d;
    font-size: 30px;
}

#dashboard p{
    color:  #fff;
}
.example-card{
    margin: 20px 20px 40px 20px;
    /* height: 240px; */
    border-style: solid;
    border-color: rgba(2, 5, 161, 0.91);
    border-width: 1px 1px 1px 10px;
    
}

.example-header-image {
    background-image: url('../../../assets/tutor.png');
    background-size: cover;
  }

#rowHead{
    width: 100%;
    margin-left: 10px;
    /* display: flex; */
    justify-content: space-between;
}

#actions{
   flex-direction: row-reverse;
   /* justify-content: space-around; */
   margin-right: 10px;
}




#float{
    display:inline-block;
    overflow: auto;
    background-color:#1acc8d;
    color: white;
}

#float:hover{
    background-color:rgba(2, 5, 161, 0.91);;
}

#Menu{
    width: 2000px;
}

:host /deep/ .mat-card-header-text {
    margin: 0;
}