

<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="app-header">
            <div class="logo-image" routerLink=""> </div>
            <div id="writing">
                <p><strong> Learn Today For Tomorrow </strong></p>
            </div>
            <span class="nav-tool-items">
            
          <!-- <a mat-raised-button routerLinkActive="active">Log Out</a> -->
          <button mat-raised-button [matMenuTriggerFor]="beforeMenu">Account</button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
          <mat-divider></mat-divider>
          <button mat-menu-item >{{emailId}}</button>
          <mat-divider></mat-divider>
          <button mat-menu-item  (click)="logout()" routerLink="/login">Log Out</button>
          <mat-divider></mat-divider>
          </mat-menu>
            </span>
        </mat-toolbar>
    </div>
</div>

<section id=dashboard>
    <div class="jumbotron">
        <h1 class="display-4"><strong>Here is our <span>Talented Pool !!</span></strong> </h1><br>
        <p class="lead">Find excellent tutors across the business, access their profiles and follow them.</p>
        <p>Go over the list and find a suitable one for you.</p>
    </div>     
</section>

<!-- <div fxFlex="100%"> -->
  <mat-card class="example-card" *ngFor="let tutor of tutors" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <div class="row" id="rowHead">
        <div class="col-lg-6">
          <mat-card-title> {{tutor.name}}</mat-card-title>
          <mat-card-subtitle>{{tutor.emailId}}</mat-card-subtitle>
        </div>
        <div class="col-lg-6">
          <mat-card-title> {{tutor.occupation}}</mat-card-title>
          <mat-card-subtitle>{{tutor.degree}}</mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Proficiencies</strong> :  {{tutor.subjects}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="row" id="actions">
        <button mat-raised-button id="float" ><strong>Book Now</strong></button>
        <button mat-raised-button id="float"><strong>Wishlist</strong></button>
      </div>
    </mat-card-actions>
  </mat-card>
<!-- </div> -->