
<div class = "container-fluid">
  <div class = "row">
    <mat-toolbar color="primary" class="app-header">
        <div class="logo-image" routerLink=""> </div>
        <div id="writing">
          <p routerLink="/landingpage" routerLinkActive="active"><strong> Learn Today For Tomorrow </strong></p>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="navMenu" fxShow="true" fxHide.gt-sm class="togle">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="nav-tool-items" fxShow="true" fxHide.lt-md>
          <a id = "login" mat-raised-button routerLink="/login" routerLinkActive="active">Login</a>
          <a id="register" mat-raised-button routerLink="/register" routerLinkActive="active">Register</a>
          <mat-menu #navMenu="matMenu">
            <mat-divider></mat-divider>
            <a class="btn-menu" mat-menu-item  routerLink="/login" routerLinkActive="active"><strong>Login</strong></a>
            <mat-divider></mat-divider>
            <a class="btn-menu" mat-menu-item routerLink="/register" routerLinkActive="active"><strong>Register</strong></a>
            <mat-divider></mat-divider>
          </mat-menu>
        </span>
    </mat-toolbar>
  </div>
</div>




<section id="hero">
    <div class="container">
        <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 d-flex align-items-center">
            <div data-aos="zoom-out" data-aos-delay="300">
            <h1>Learn And Grow With Us !! <span>HomeLearn</span></h1>
            <h2>We have a bunch of talanted teachers giving your career a boost while staying at home</h2>
            <div class="text-center text-lg-left">
                <a href="javascript:void(0);" class="btn-get-started scrollto">Get Started</a>
            </div>
            </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 d-flex align-items-center hero-img" data-aos="zoom-out" data-aos-delay="300">
            <img src="../../../assets/hero-img.png" class="img-fluid animated" alt="">
        </div>
        </div>
    </div>
</section>
    

<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 hometutor-box d-flex justify-content-center align-items-stretch order-1 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
        <img src="../../../assets/globe.svg" class="img-fluid animated" alt="">
      </div>
      <div class="col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 order-2 d-flex align-items-center" data-aos="fade-left" data-aos-delay="200">
        <h3>India's Solution to Modern Learning and Teaching</h3>
        <p>The three steps process you just need and you can go to the India's latest approach to study and teach together in a collaborative environment for better academics and curriculla.</p>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="200" >
          <div class="icon"><i class="material-icons">fingerprint</i></div>
          <h4 class="title"><a href="javascript:void(0);">Authentication</a></h4>
          <p class="description">Easy and fast registration and login process.</p>
        </div>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300" >
          <div class="icon"><i class="material-icons">add_task</i></div>
          <h4 class="title"><a href="javascript:void(0);">Book and Pay</a></h4>
          <p class="description">Easy selection and booking of courses and tutors and secured gateway for payments.</p>
        </div>

        <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon"><i class="material-icons">menu_book</i></div>
          <h4 class="title"><a href="javascript:void(0);">Study or Teach</a></h4>
          <p class="description">Use the platform to study and teach. Here you Go !! Happy Journey... </p>
        </div>
      </div>
    </div>

  </div>
</section>

<br><br>

<section id="features" class="features">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Features</h2><br>
      <p><strong>Check The Features</strong></p>
    </div>

    <div class="row" data-aos="fade-left">
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="50" >
          <i class="material-icons" style="color: #ffbb2c;">admin_panel_settings</i>
          <h3><a href="javascript:void(0);">Secured Learning</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
          <i class="material-icons" style="color: #5578ff;">add_shopping_cart</i>
          <h3><a href="javascript:void(0);">Easy Course Booking </a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
          <i class="material-icons" style="color: #e80368;">leaderboard</i>
          <h3><a href="javascript:void(0);">Precise Analysis</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box" >
          <i class="material-icons" style="color: #e361ff;">assessment</i>
          <h3><a href="javascript:void(0);">Daily Assessment</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4" >
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="250" >
          <i class="material-icons" style="color: #47aeff;">assignment</i>
          <h3><a href="javascript:void(0);">Structured Assignments</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
          <i class="material-icons" style="color: #ffa76e;">queue_play_next</i>
          <h3><a href="javascript:void(0);">Self Paced Learning</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="350" >
          <i class="material-icons" style="color: #11dbcf;">calendar_today</i>
          <h3><a href="javascript:void(0);">Slots Fixation</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
          <i class="material-icons" style="color: #4233ff;">card_membership</i>
          <h3><a href="javascript:void(0);">Memebership Access</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
          <i class="material-icons" style="color: #b2904f;">android</i>
          <h3><a href="">Android Supported</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
          <i class="material-icons" style="color: #b20969;">credit_card</i>
          <h3><a href="javascript:void(0);">Easy Payments</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
          <i class="material-icons" style="color: #ff5828;">grading</i>
          <h3><a href="javascript:void(0);">Descriptive Grading System</a></h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
          <i class="material-icons" style="color: #29cc61;">offline_bolt</i>
          <h3><a href="javascript:void(0);">Crash Courses</a></h3>
        </div>
      </div>
    </div>

  </div>
</section>

   
<section id="counts" class="counts">
  <div class="container">
    <div class="row" data-aos="fade-up">

      <div class="col-lg-3 pt-5" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
          <i class="material-icons">tag_faces</i><br><br>
          <span data-toggle="counter-up">232</span><br><br>
          <p>Happy Students</p>
        </div>
      </div>

      <div class="col-lg-3 pt-5" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
          <i class="material-icons">support_agent</i><br><br>
          <span data-toggle="counter-up">54</span><br><br>
          <p>Qualified Tutors</p>
        </div>
      </div>

      <div class="col-lg-3 pt-5" data-aos="fade-up" data-aos-delay="300">
        <div class="count-box">
          <i class="material-icons">school</i><br><br>
          <span data-toggle="counter-up">137</span><br><br>
          <p>Courses</p>
        </div>
      </div>

      <div class="col-lg-3 pt-5" data-aos="fade-up" data-aos-delay="550">
        <div class="count-box">
          <i class="material-icons">emoji_objects</i><br><br>
          <span data-toggle="counter-up">15</span><br><br>
          <p>Innovative Projects</p>
        </div>
      </div>

    </div>
  </div>
</section>


<section id="details" class="details">
  <div class="container">

    <div class="row content">
      <div class="col-md-5" data-aos="fade-right" data-aos-delay="400">
        <img src="../../../assets/undraw_teaching_f1cm.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-4" data-aos="fade-up" data-aos-delay="400">
        <h3>Get the experience of high quality teaching at home by our highly qualified Tutors.</h3>
        <p class="font-italic">
          <strong>The main focus is on providing you with the best of our talented pool of tutors according to the need of every specific student.</strong>
        </p>
        <ul>
          <li><i class="material-icons">check</i>Tutors at your doorstep at your desired timings.</li>
          <li><i class="material-icons">check</i> Conceptual and Practical Trainings.</li>
          <li><i class="material-icons">check</i> Addressing each and every doubt to help student to perform better.</li>
          <li><i class="material-icons">check</i> Motivational and emotional support.</li>
          <li><i class="material-icons">check</i> Weekly feedback for both tutors and students .</li>
        </ul>
        <p>
          All you need to go and book your required tutor and you are good to go with India's latest educational platform.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5 order-1 order-md-2" data-aos="fade-left" data-aos-delay="450">
        <img src="../../../assets/undraw_professor_8lrt.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-up" data-aos-delay="450" >
        <h3>Book your Slots for the   Online Courses</h3>
        <p class="font-italic">
         <strong> Keeping in mind about this pandemic, these fully online courses provide you with all the concepts, theories, practicals and assignments thus creating a feel of classroom.</strong>
        </p>
        <p>
         These courses are hassel-free, joyful, secure and least tedious. Courses are structured in the most accessible way possible.They consists of step wise process of deep study of the subjects. Couses are categorized into three diffrent levels starting from easy to advanced which help students to track their level of skillset.
        </p>
        <p>
          These courses are self-paced to be student friendly and consists of various assignments to test the knowledge acquired. Some courses are also available for free and crash courses are also available. These are made in such a way so that it focusses on overall development of a student and also help them to be creative at the same time.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5" data-aos="fade-right" data-aos-delay="500">
        <img src="../../../assets/assignmet.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-3" data-aos="fade-up" data-aos-delay="500">
        <h3>Assignments and Study Materials</h3>
        <p><strong>The assignments and study materials are structured by highly professional tutors and well-organized to provide you with all the concepts in concise manner.</strong></p>
        <ul>
          <li><i class="material-icons">check</i> Level wise assignments with solutions and keys.</li>
          <li><i class="material-icons">check</i> Study materials are concise and specific to knowledge and made in a descriptive way.</li>
          <li><i class="material-icons">check</i> Question Banks and archive problems are provided to practice.</li>
          <li><i class="material-icons">check</i> A set of creative problems and projects on real-life based application.</li>
        </ul>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5  order-md-2" data-aos="fade-left" data-aos-delay="550">
        <img src="../../../assets/analysis.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 order-md-1"  data-aos="fade-up" data-aos-delay="550">
        <h3>Predective and Daily Analysis of Performance</h3>
        <p class="font-italic">
          <strong>Daily and Predective analysis is done to improve the performance and to show the goal approcah status.</strong>
        </p>
        <p>
          Analysts from our team will put their statistics and algorithms to find the weakness and strength of every student to help them achieve the shortcomings and also to capitalize on their strength.These analysis also help to structure your progress path and your materials and assignments and keep them updated according to your performances.
        </p>
        <ul>
          <li><i class="material-icons">check</i> Daily Anlaysis to show the weakness and strength .</li>
          <li><i class="material-icons">check</i> Predective Analysis to show the progress bar and goal setting. </li>
          <li><i class="material-icons">check</i> All India Rank leadership board to see the current standing.</li>
        </ul>
      </div>
    </div>

  </div>
</section>

   
<section id="testimonials" class="testimonials">
  <div class="container">
      <div class="testimonials-carousel" data-aos="zoom-in" data-aos-delay="300" >
        <mat-carousel  [hideArrows]="false" maxWidth="auto" proportion="80">
          <mat-carousel-slide>
            <div class="testimonial-item">
              <img src="../../../assets/tutor.png" class="testimonial-img" alt="">
              <h3>Aadil Shakri</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                
                "HomeTutor is India's first largest online educational platform where students and teachers collborate in an effective manner. This platform tries to cultivate a modern approach in India's Education System."
                
              </p>
            </div>
          </mat-carousel-slide>

          <mat-carousel-slide>
            <div class="testimonial-item">
              <img src="../../../assets/tutor.png" class="testimonial-img" alt="">
              <h3>Tuba Jamal</h3>
              <h4>Statistics, M.Sc</h4>
              <p>
              
                "I got to know my efficiency through this platform.User friendly to share knowledge and expertise with students anytime in a collaborative and soothing environment"
                
              </p>
            </div>
          </mat-carousel-slide>

          <mat-carousel-slide>
            <div class="testimonial-item">
              <img src="../../../assets/tutor.png" class="testimonial-img" alt="">
              <h3>Pranay Teja</h3>
              <h4>Sofware Engineer, CGI</h4>
              <p>
              
                "Robust features with easy online access to study materials.Crash courses are short and helps me very much with time management"
                
              </p>
            </div>
          </mat-carousel-slide>

          <mat-carousel-slide>
            <div class="testimonial-item">
              <img src="../../../assets/tutor.png" class="testimonial-img" alt="">
              <h3>Asad Shakri</h3>
              <h4>Student</h4>
              <p>
                
                "Detailed content with illustrations by well trained and experienced tutors at affordable rates that too at flexible timimgs.Real-time based problems is a big thumps for the HomeTutor"
              
              </p>
            </div>
          </mat-carousel-slide>

          <mat-carousel-slide>
            <div class="testimonial-item">
              <img src="../../../assets/tutor.png" class="testimonial-img" alt="">
              <h3>Farida Jalal</h3>
              <h4>Ph.D, Economics</h4>
              <p>
                "HomeTutor is an ideal platform to enhance your academic skills. I got updated with the latest changes to educational field and it also helps me to mould my way of teaching in a modern and effective way."
              </p>
            </div>
          </mat-carousel-slide>

          <mat-carousel-slide>
            <div class="testimonial-item">
              <img src="../../../assets/tutor.png" class="testimonial-img" alt="">
              <h3>Ayan Khan</h3>
              <h4>Student</h4>
              <p>
                "Through this platform I got to know my weaknesses easily, the constant check on my progress and daily analysis helped me a lot to boost up my performance and confidence."
              </p>
            </div>
          </mat-carousel-slide>
        </mat-carousel>
      </div>
  </div>
</section>

<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Pricing</h2><br>
      <p>Check our Pricing</p>
    </div>

    <div class="row" data-aos="fade-left">

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="box" >
          <h3>Basic</h3>
          <h4><sup>₹​</sup>1500<span> / month</span></h4>
          <ul>
            <li>Tutor Booking</li>
            <li>Online Course</li>
            <li>Daily Assessment</li>
            <li class="na">Online Grading</li>
            <li class="na">Online Doubt Removal Sessions</li>
            <li class="na">Self Paced Learning</li>
            <li class="na">Materials</li>
            <li class="na">Predictive Analysis of Performance</li>
            <li class="na">Crash Courses</li>
            <li class="na">Rank Leadership Board</li>
          </ul>
          <div class="btn-wrap">
            <a href="javascript:void(0);" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="box featured" >
          <h3>Regular</h3>
          <h4><sup>₹​</sup>2500<span> / month</span></h4>
          <ul>
            <li>Tutor Booking</li>
            <li>Online Course</li>
            <li>Daily Assessment</li>
            <li>Online Grading</li>
            <li>Online Doubt Removal Sessions</li>
            <li class="na">Self Paced Learning</li>
            <li class="na">Materials</li>
            <li class="na">Predictive Analysis of Performance</li>
            <li class="na">Crash Courses</li>
            <li class="na">Rank Leadership Board</li>
          </ul>
          <div class="btn-wrap">
            <a href="javascript:void(0);" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="500">
        <div class="box" >
          <h3>Intermediate</h3>
          <h4><sup>₹​</sup>4000<span> / month</span></h4>
          <ul>
            <li>Tutor Booking</li>
            <li>Online Course</li>
            <li>Daily Assessment</li>
            <li>Online Grading</li>
            <li>Online Doubt Removal Sessions</li>
            <li>Self Paced Learning</li>
            <li>Materials</li>
            <li>Predictive Analysis of Performance</li>
            <li class="na">Crash Courses</li>
            <li class="na">Rank Leadership Board</li>
          </ul>
          <div class="btn-wrap">
            <a href="javascript:void(0);" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="600">
        <div class="box" >
          <span class="advanced">Advanced</span>
          <h3>Advanced</h3>
          <h4><sup>₹​</sup>6500<span> / month</span></h4>
          <ul>
            <li>Tutor Booking</li>
            <li>Online Course</li>
            <li>Daily Assessment</li>
            <li>Online Grading</li>
            <li>Online Doubt Removal Sessions</li>
            <li>Self Paced Learning</li>
            <li>Materials</li>
            <li>Predictive Analysis of Performance</li>
            <li>Crash Courses</li>
            <li>Rank Leadership Board</li>
          </ul>
          <div class="btn-wrap">
            <a href="javascript:void(0);" class="btn-buy">Buy Now</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section id="contact" class="contact">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Contact</h2><br>
      <p>Contact Us</p>
    </div>

    <div class="row">

      <div class="col-lg-4" data-aos="fade-right" data-aos-delay="400">
        <div class="info">
          <div class="address">
            <i class="material-icons">place</i>
            <h4>Location:</h4>
            <p>230/2, Haroon Nagar Colony, PhulwariSharif</p>
            <p>Patna-801505, Bihar</p>
          </div>

          <div class="email">
            <i class="material-icons">email</i>
            <h4>Email:</h4>
            <p>aadilshakri@gmail.com</p>
          </div>

          <div class="phone">
            <i class="material-icons">phone</i>
            <h4>Call:</h4>
            <p>+91-9199027150</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="00">

        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div><br>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

      </div>

    </div>

  </div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>HomeTutor</h3>
            <p class="pb-3"><em>Learn from the India's top learning platform for better tomorrow.</em></p>
            <p>
              230/2, Haroon Nagar Colony, PhulwariSharif<br>Patna-801505, Bihar<br><br>
              <strong>Phone:</strong> +91-9199027150<br>
              <strong>Email:</strong> aadilshakri@gmail.com<br>
            </p><br><br>
            <div class="sociallinks">
              <a href="#"><img src="../../../assets/google.png"></a>
              <a href="#"><img src="../../../assets/facebook.png"></a>
              <a href="#"><img src="../../../assets/whatsapp.png"></a>
              <a href="#"><img src="../../../assets/linkedin.png"></a>
              <a href="#"><img src="../../../assets/insta.png"></a>
              <a href="#"><img src="../../../assets/skype.png"></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Home</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">About us</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Services</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Terms of service</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Experienced Tutors</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Crash Courses</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Distance Learning</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Materials and Exams</a></li>
            <li><i class="material-icons">chevron_right</i> <a href="javascript:void(0);">Structured Assignments</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter for updates in education system and various examinations.</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>HomeTutor</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed with <i class="material-icons" style="color: red ;">favorite</i> by Aadil Shakri 
    </div>
  </div>
</footer>







 
