/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */
html,
body {
    height: 100%;
    margin: auto;
}

button,
a {
    margin: 5px !important;
    text-decoration: none !important;
}

* {
    font-family: 'Quicksand'/* Replace with your custom font */
    , sans-serif !important;
    /* Add !important to overwrite all elements */
}

.modal-backdrop {
    z-index: -1 !important;
}

.modal {
    z-index: 200 !important;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field.mat-form-field {
    font-size: 18px;
}

.material-icons{
    font-family: 'Material Icons' !important;
}